<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="status">Status</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="profile">Profile</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="books">Books</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="subs">Subscribe</a>
    </li>
  </ul>
</nav>
