<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <script src="{% static 'js/lab_7.js' %}"></script>  
</head>
<body>
    <header>
        {% include 'partials/navbar.html' %}
    </header>
    <br><br><br>
    <h4>Books</h4>
    <h5>Favorite: <a id="jml">0</a></h5>
    <button type="button" class="btn btn-dark">Architecture</button>
    <button type="button" class="btn btn-dark">Comic</button>
    <button type="button" class="btn btn-dark">Quilting </button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Book</th>
          <th scope="col">Title</th>
          <th scope="col">Authors</th>
          <th scope="col">Description</th>
          <th>Add to Favorite</th>
        </tr>
      </thead>
      <tbody id="bt">    
      </tbody>
</table>

</body>
</html>