<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>status</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "css/style.css" %}>
</head>
<body>
    <header>
        {% include 'partials/navbar.html' %}
    </header>
    <br><br><br>
	<h2 align="center">Hello, apa kabar?</h2>
    <br>
    <div class="update-status">
        <form action="" method="post" class="status" >
        {% csrf_token %}
        {% for status in form %}
        <div class="form-group">
            {{ status }}
        </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

    {% for i in status %}
    <div id = status class="card bg-dark text-white">
        <div class="card-body">
        {{ i.status }}<br>
        {{ i.date }}
        </div>
    </div>
    {% endfor %}

</body>
</html>