<!DOCTYPE html><html>
{% load static %}
<head>
    {% load staticfiles %}
	<title>profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <script src="{% static 'js/lab_7.js' %}"></script>    
</head>
<body>

    <div id="overlay">
        <div id="overlay-content">
            Loading...
        </div>
    </div>

    <header>
        {% include 'partials/navbar.html' %}
    </header>
    <div id ="profile" class="card bg-dark text-white">
        <div class="card-body">
        Shania Nabilah<br>
        1706044175
        </div>
    </div>

    <div class="acc">
    <button class="accordion">Activities</button>
        <div class="panel">
            <p>ngerjain ppw pagi siang sore malem</p>
        </div>

    <button class="accordion">Experiences</button>
        <div class="panel">
            <p>Staf depor bem fasilkom ui</p>
            <p>Staf offline marketing compfest x</p>
            <p>Staf acara cs league</p>
            <p>Staf LO wisuda genap</p>
        </div>

    <button class="accordion">Achievments</button>
        <div class="panel">
            <p>selesai 8 story ppw</p>
        </div>
    </div>

    <button type="button" id="theme">Change Theme</button>
</body>
</html>