<!DOCTYPE html><html>
{% load static %}
<head>
    {% load staticfiles %}
	<title>subscribe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <script src="{% static 'js/lab_7.js' %}"></script>    
</head>
<body>
    <header>
        {% include 'partials/navbar.html' %}
    </header>
    <br><br><br>
    <div class="subs-form">
        <div id="alert"></div>
        <form action="{% url 'aaa' %}" method='POST' id="sub-form">
        {% csrf_token %}
        {% for subscriber in form %}
        <div class="form-group">
            {{ subscriber.label_tag }}
            <br>
            {{ subscriber }}
        </div>
        {% endfor %}
        <button type="submit" id="sub-btn" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>