.update-status{
	margin-bottom: 30px;
	text-align: center;
}

#status{
	margin: 20px;
}

#profile{
	width: 30%;
	margin-top: 1000px;
	margin-left: 35%;
	text-align: center;
}

.nav-link {
    background-color: #343a40 !important;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.acc{
    margin: 20%;
    margin-top: 5%;
}