body{
    background-color: white;
}

h4{
    text-align: center;
}

.update-status{
	margin-bottom: 30px;
	text-align: center;
}

#status{
	margin: 20px;
}

#profile{
	width: 30%;
	margin-top: 100px;
	margin-left: 35%;
	text-align: center;
}

.nav-link {
    background-color: #343a40 !important;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.acc{
    margin: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    z-index:1001;
}

#overlay-content{ 
    position: absolute;
    text-align: center;
    display: none;
    width: 360px;
    height: 70px;
    padding: 16px;
    /*border: 16px solid orange;*/
    background-color: white;
    z-index:1002;
}

.table{
    margin-top: 20px;
    background-color: lightgrey;
}